.my-modal {
  color: #000;
  background-color: #fff;

  padding: 1rem;
  margin: 2rem auto;

  max-width: 720px;
  max-height: 100%;

  width: 50%;

  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem #0004;
}
